<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="../static/chat.css">
    <title>Main lobby</title>
</head>
<body>
    <h1>WELCOME {{name}}, to summer connecter</h1>
    <div id = 'menu'>
        <a href = '/lobby'><button type = 'button'>Main Lobby</button></a>
        <a href = '/lobby/swimming'><button type = 'button'>swimming</button></a>
        <a href = '/lobby/basketball'><button type = 'button'>basketball</button></a>
        <a href = '/lobby/soccer'><button type = 'button'>soccer</button></a>
        <a href = '/lobby/camping'><button type = 'button'>camping</button></a>
        <a href = '/lobby/hiking'><button type = 'button'>hiking</button></a>
        <a href = '/logout'><button type = 'button'>Logout</button></a>
        <p id = 'name'>{{name}}</p>

    </div>
    <h1 id = 'chatspace'>Chat here!</h1>
    <form id = 'chat'>
      <label for = 'msg'>Enter message: </label>
      <input name="msg" id = 'chat_message'>
      <input type = 'submit'>
    </form>
<script src ="../static/chat.js"></script>
</body>
</html>
