<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/chat.css">
    <title>Main lobby</title>
</head>
<body>
    <h1 id='welcome'>WELCOME {{name}}, to main lobby</h1>
  
    <div id = 'menu'>
        <a href = '/lobby'><button type = 'button' id='lobby'>Main Lobby</button></a>
        <button type = 'button' id='basketball'>basketball</button>
        <button type = 'button' id='soccer'>soccer</button>
        <button type = 'button' id='swimming'>swimming</button>
        <a href = '/'><button type = 'button' id='logout'>Logout</button></a>
        <p id = 'name'>{{name}}</p>

    </div>
    <div id='chatspace'>
        <h1 id = 'chathead'>Chat here!</h1>
    </div>
    <form id = 'chat'>
      <label for = 'msg'>Enter message: </label>
      <input name="msg" id = 'chat_message'>
      <input type = 'submit'>
    </form>
<script src ="../static/lobby.js"></script>
</body>
</html>
